body{
    padding: 0;
    margin: 0;
}
.element{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    background-image: url(haut_de_page.png);
    font-size: 125%;
    align-items: baseline;
    height: 174px;
}
.img_acc{
    width: 145px;
    height: 80px;
    align-self: flex-start;
}
.bloc1{

    padding: 23px;
    background-color: #b090f4;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    border-radius: 33%;
    position: relative;
}
.bloc2{
    padding: 23px;
    background-color: #b090f4;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    border-radius: 33%;
}
.bloc3{
    padding: 23px;
    background-color: #b090f4;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    border-radius: 33%;
}
.bloc4{
    padding: 23px;
    background-color: #b090f4;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    border-radius: 33%;
}
.bloc5{
    padding: 23px;
    background-color: #b090f4;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    border-radius: 33%;
}

img{
    width: 25px;
    height: 25px;
}

#button1{
    padding: 1em;
    border-style: solid;
    border-color: rgb(50, 55, 59);
    background-color: #8759EA;
    
}



#Description{
    padding: 1em;
}
